Azure-Data-Factory-Study/pipeline/PL_lookup_activity_example02.json
{
	"name": "PL_lookup_activity_example02",
	"properties": {
		"description": "PL_lookup_activity_example01 for sql server table",
		"activities": [
			{
				"name": "Lookup on db table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_sqlserver",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup on db table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Name",
					"value": {
						"value": "@activity('Lookup on db table').output.firstRow[2].FirstName",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pipeline ACtivites"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-18T11:47:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}